
.libel h2{
    margin-top: 6rem;
    color: white;

}
.formulaire{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border:4px solid black;
    background-color: blue;
    height: 50vh;
}
.equation h2{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 8vh;
    border: 4px solid black;
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    margin-top: 4rem;
    margin-left: 35rem;
    
    /* margin: 2.5rem 27rem  ; */
    z-index: 1;
    
}
.coef{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
label.nbre{
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

tr{
    display: flex;
    justify-items: center;
    align-items: center;
}
td{
    display: flex;
    width:30vw ; 
   
}
.champ{
    display: flex;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid black; */
}

input{
    border: 2px solid black;
    width: 15vw;
    height: 5vh;
    font-size: 2rem;
}
.valid{
    display: grid;
    align-content: center;
    text-align: center;
    background-color:aqua;
    width:8vw ;
    height: 3vw;
    font-weight: bolder;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
}
.valid:hover{
    
    background-color: white;
}
